:root {
    --clr-primary: #000;
    --clr-secondary: #FFFFFF;
    --clr-action: #FFFFFF;

    /* --bg-action: #0065FE; */

}

* {
    margin: 0;
    padding: 0;
    color: var(--clr-primary);
    font-family: 'Archivo', sans-serif;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

::before, ::after {
box-sizing: border-box;
}

html, body {
    width: 100%;
    background-color: #FFFFFF;    
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5rem;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    width: 80%;
    min-height: 6rem;
    margin: 0 10%;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    position: relative;
    border-bottom: 4px solid #E4E4E4;
}

.logo {
    height: 2rem;
    width: max-content;
    padding: 0.5rem 1rem 0.5rem 0;
}

/* cart items */
.cart_btn {
    background-color: unset;
    border: none;
    width: 3rem;
    height: 3rem;
}

.cart_btn img {
    width: inherit;
    height: inherit;
}

.cart_items {
    display: none;
    width: 27.6875rem;
    height: max-content;
    position: absolute;
    right: 0;
    top: 5.75rem;
    background-color: #FFFFFF;
    border: 4px solid #E4E4E4;
    padding: 1.7rem;
    z-index: 3;
}

.show_cart_items {
    display: block !important;
}

.cart_item_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    border-bottom: 2px solid #C2C2C2;
    /* padding: 1rem 0; */
    margin-bottom: 1rem;
}

.cart_item_list .cart_item {
    display: flex;
    width: 100%;
    height: 8rem;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    padding: 1rem 0;
}

.cart_items .delete_item {
    width: 1.125rem;
    height: 1.125rem;
    background-color: unset;
    border: none;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
        background-color: #E4E4E4;
    }
}

.delete_item img {
    width: inherit;
    height: inherit;
}

.cart_item_list .cart_item div h3 {
    font-size: 1.25rem;
    margin-bottom: 0.8rem;
}

.cart_item_list .cart_item div p {
    font-size: 1.8rem;
    color: #656565;
}

.cart_item_list .cart_item .item_image {
    width: 9.3125rem;
    height: 5.375rem;
}

.cart_items .total_items_price {
    font-size: 1rem;
    color: #656565;
    margin-bottom: 1rem;
    border-bottom: 2px solid #C2C2C2;
    height: 2.5rem;

    & span {
        font-size: inherit;
        color: inherit;
    }
}

.cart_items .clear_btn {
    width: 100%;
    height: 3.4375rem;
    border: 4px solid #E4E4E4;
    background-color: #FFFFFF;
}
/*  */

main {
    display: block;
    width: 100%;
}

main .container1_sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    width: 80%;
    min-height: calc(100svh - 6rem);
    margin: 0 10%;
    gap: 2rem;
    padding: 3rem 0;
    border-bottom: 4px solid #E4E4E4;
    align-items: center;
}

.container1_sections h1 {
    font-size: 2rem;
    grid-area: 1 / 1 / 1 / 1;
}

.container1_sections .add_to_cart {
    color: #FFFFFF;
    font-size: 1.4375rem;
    width: 16.0625rem;
    height: 2.9375rem;
    background-color: #000;
    border: none;
    grid-area: 1 / 2 / 1 / 3;
    justify-self: flex-end;
}

.container1_sections figure {
    display: block;
    width: 100%;
    height: 34.5625rem;
    grid-area: 2 / 1 / 2 / 3;
    position: relative;
}

.container1_sections figure .photo_of_the_day {
    display: inherit;
    width: 100%;
    height: 100%;
}

.container1_sections figure figcaption {
    width: 17rem;
    line-height: 4.1875rem;
    background-color: #FFFFFF;
    font-size: 1.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.container1_sections .about_photo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    grid-area: 3 / 1 / 5 / 1;
}

.about_photo h2 {
    font-size: 1.375rem;
}

.about_photo h3 {
    font-size: 1.375rem;
    color: #656565;
}

.about_photo p {
    font-size: 1.125rem;
    text-wrap: balance;
}

.container1_sections .people_also_buy {
    grid-area: 3 / 2 / 3 / 3;
    display: inherit;
    width: 100%;
    gap: 1rem;
}

.people_also_buy h2 {
    font-size: 1.375rem;
    text-align: end;
}

.people_also_buy div {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.people_also_buy div img {
    width: 7.3125rem;
    height: 9.1875rem;
}

.container1_sections .photo_details {
    grid-area: 4 / 2 / 4 / 3;
    width: 100%;
    display: inherit;
    gap: 0.8rem;
}

.photo_details h2 {
    font-size: 1.375rem;
    text-align: end;
}

.photo_details p {
    font-size: 1rem;
    text-align: end;
    color: #656565;
}

main .photography_section {
    display: block;
    width: 80%;
    margin: 0 10%;
    padding: 3rem 0;
}

.photography_section .first_child {
    display: flex;
    width: 100%;
    margin-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
}

.photography_section .first_child h2 {
    font-size: 1.875rem;

    & span {
        color: #9B9B9B;
    }
}

.photography_section .first_child .sort {
    display: flex;
    align-items: center;
    width: max-content;
}

.photography_section .first_child .sort label {
    font-size: 1.375rem;
    color: #9B9B9B;
    position: relative;
    margin-right: 0.5rem;
}

.photography_section .first_child .sort label::before {
    content: '';
    width: 1.375rem;;
    height: 1.375rem;;
    background-image: url(icons/sort.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: -1.5rem;
}

.photography_section .first_child .sort select {
    width: 6rem;
    line-height: 1.375rem;
    border: none;
    font-size: 1.375rem;
    padding: 0;
}

.photography_section .second_child {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
}

.photography_section .second_child .product_type {
    display: flex;
    flex-direction: column;
    width: 14rem;
    flex-shrink: 0;
}

.product_type .category_options,
.product_type .price_range {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding-bottom: 2rem;
    flex-shrink: 0;
}

.product_type .category_options h3,
.product_type .price_range h3 {
    font-size: 1.375rem;
}

.product_type .category_options label,
.product_type .price_range label {
    font-size: 1.375rem;
    word-break: keep-all;
}

.product_type .category_options input,
.product_type .price_range input {
    margin-right: 1rem;
}

.product_type .category_options {
    margin-bottom: 2rem;
    border-bottom: 2px solid #C2C2C2;
}

.photography_section .second_child .container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 14rem);
    gap: 2rem;
    justify-content: center;
}

.second_child .container .items_general_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 100%;
    justify-content: space-between;
    justify-items: flex-end;
    gap: 2rem;
}

.second_child .container .items_general_div .item {
    display: block;
    width: max-content;
}

.items_general_div .item .item_photo {
    display: block;
    width: 17.6074rem;
    height: 24.4169rem;
    position: relative;
}

.items_general_div .item .item_photo img {
    width: 100%;
    height: 22rem;
    
}

.items_general_div .item .item_photo .tag {
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    background-color: #FFFFFF;
    font-size: 1.25rem;
    padding: 0.5rem;
}

.items_general_div .item .item_photo .add_to_cart {
    width: 100%;
    margin-top: -0.5rem;
    line-height: 2rem;
    border: none;
    background-color: #000;
    color: #FFFFFF;
    font-size: 1.4375rem;

}

.items_general_div .item .item_detail {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.items_general_div .item .item_detail .item_category {
    font-size: 1.375rem;
    color: #656565;
}

.items_general_div .item .item_detail .item_name {
    font-size: 2rem;
}

.items_general_div .item .item_detail .item_price {
    font-size: 1.8125rem;
    color: #656565;
}

.navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.navigation button {
    background-color: #FFFFFF;
    border: none;
    font-size: 1.5rem;
    align-items: center;
    color: #B4B4B4;
}

.navigation [aria-current="true"] {
   color: #000;
}

.navigation .previous_items,
.navigation .next_items {
    display: flex;
    align-items: center;
    justify-content: center;
}